.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #789;
  height: 36px;
  width: 100%;
  text-align: left;
}

.App-left-banner-container {
  width: 30%;
  text-align: left;
  display: inline-block;
}

.Title-with-logo {
  display: inline-block;
}

.Title-with-logo img {
  vertical-align: middle;
}

.Title-with-logo h1 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.App-right-banner-container {
  width: 60%;
  text-align: right;
  display: inline-block;
  margin-right: 20px;
}

.LinkTextContainer {
  display: inline-block;
}

.LinkTextContainer text {
  color: #fff;
  font-size: 15px;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
